.index {
	text-align: center;
	padding-top: 300px;
}

.press-button {
	font: 28pt RingBearer;
	color: #B9880F;
}

body {
	margin: 0;
	background-color: #000000;
}

.container {
	max-width: 1320px;
	height: 568px;
	margin: 0 auto;
}

@font-face {
	font-family: RingBearer;
	src: url(../fonts/RingBearer.TTF);
}

header, footer {
	background-color: #000000;
	height: 100px;

}

header figure {
	margin: 0;
	padding: 10px 0;
	text-align: center;
}

header a {
	display: inline-block;
}

header img {
	max-height: 80px;
	vertical-align: bottom;
}

nav:after {
	content: "";
	display: block;
	clear: both;
}

nav {
	background-color: #151515;
	height: 70px;
	border-style: solid;
	border-color: #383838;
	border-width: 1px 0;
	text-align: center;
}

nav ul {
	display: inline-block;
	margin: 0;
	padding: 17px 0;
	font: 20pt RingBearer;
}

nav li {
	list-style:  none;
	float: left;
	margin: 0 23px;
}

nav a {
	display: inline-block;
	text-decoration: none;;
	color: #977C09;
}

ul li{
	margin-top: 2px;
}

ul li img{
	box-shadow:0 0 50px 10px #000;
}

article h3 {
	margin: 0;
	font: 20pt RingBearer;
}

article p {
	font: 16pt Candara, sans-serif;
}

footer {
	text-align: center;
	border-style: solid;
	border-color: #383838;
	border-width: 1px 0 0 0;
	padding: 39px 0;
}

footer p {
	margin: 0;
	font: 16pt Candara, sans-serif;
	color: #BFBFBF;
}

.article-background {
	background-image: url("../background.jpg");
	width: 1080px;
	height: 568px;
	box-shadow: 0 0 8px 8px white inset;
}

.concept-bg {
	background-image: url("../image/Concept/background.jpg");
	background-size: 1080px;
}

.concept-padding {
	padding: 60px 240px;
}

.world-bg {
	background-image: url("../image/World/Middle Earth2.jpg");
	background-size: 720px;
}

.world-padding {
	padding: 60px 360px;
}

.influence-bg {
	background-image: url("../image/influence/Inflence_bg.jpg");
	background-size: 720px;
}

.content {
	background-color: #000000;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	color: #BFBFBF;
	height: 100%;
	box-sizing: border-box;
}

.content p {
	display: inline-block;
	margin: 10px 0 0 0;
}

.hr-line {
	border-style: solid;
	border-width: 1px;
	width: 200px;
	margin: 10px auto;
}

.author-area {
	display: inline-block;
	background-color: #000000;
	color: #BFBFBF;
	height: 100%;
	box-sizing: border-box;
	padding: 77px 228px;
}

.author-area:after {
	content: "";
	display: block;
	clear: both;
}

.author-img {
	float: left;
	padding-left: 20px;
}

.author-img figure {
	margin: 0;
}

.author-img img {
	max-height: 414px;
	vertical-align: bottom;
}

.author-detail {
	display: inline-block;
	float: left;
	margin-left: 80px;
	box-sizing: border-box;
}

.author-detail h3 {
	display: block;
	text-align: center;
}

.author-hr-line {
	border-style: solid;
	border-width: 1px;
	width: 450px;
	margin: 15px auto;
}

.author-detail p {
	margin: 0;
	display: inline-block;
	text-align: justify;
	width: 450px;
}

.introduction-area {
	padding: 50px 114px;
	height: 100%;
	box-sizing: border-box;
}

.introduction-img-list {
	float: left;
}

.introduction-img-list ul {
	margin: 0;
	padding: 0;
}

.introduction-img-list li {

}

.introduction-img-list a {
	display: inline-block;
}

.character-list img {
	max-height: 52px;
	vertical-align: bottom;
}

.race-list img {
	max-height: 78px;
	vertical-align: bottom;
}

.series-list li {
	margin-bottom: 22px;
}

.series-list img {
	max-height: 100px;
	vertical-align: bottom;
}

.selected-img {
	float: left;
	margin-left: 45px;
}

.selected-img figure {
	margin: 0;
}

.selected-img img {
	max-height: 468px;
	vertical-align: bottom;
}

.introduction-content {
	float: left;
	margin-left: 45px;
	color: #BFBFBF;
	width: 402px;
}

.introduction-content h3 {
	display: block;
	text-align: center
}

.introduction-hr-line {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	width: 400px;
	margin: 10px auto;
}

.introduction-content p {
	margin: 5px 0;
	padding: 0 30px;
	display: inline-block;
	text-align: justify;
	font: 12pt Candara;
}

.tab {

}

.tab ul {
	margin: 0;
	padding: 0;
	font: 16pt RingBearer;
}

.tab li {
	list-style: none;
	float: left;
	margin: 0 30px;
}

.tab a {
	display: inline-block;
	text-decoration: none;
	color: #BFBFBF;
}

.movie-hr-line {
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #BFBFBF;
	width: 1090px;
}

.movie-area {
	display: inline-block;
	margin: 20px 0;
	padding: 0 111px;
	box-sizing: border-box;
}

.movie-area-left {
	float: left;
}

.active-movie {
	width: 639px;
	height: 359px;
}

.movie-area-right {
	float: left;
	margin-left: 45px;
}

.movie-area-right ul {
	margin: 0;
	padding: 0;
}

.movie-area-right li {
	
	margin-bottom: 20px;
}

.moive-area-right a {

}

.movie-area-right iframe {
	width: 185px;
	height: 104px;
}
